layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
        children
    }

    tab name="edit" hide_floating_panes=true {
        pane command="nvim" 
    }
    tab name="compile" hide_floating_panes=true {
        pane
    }
    tab name="logs" hide_floating_panes=true {
        pane command="ssh" {
            args "mobile@192.168.1.183"
        }
    }
}
